@import url(http://fonts.googleapis.com/earlyaccess/notosansjapanese.css);
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

html {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

q, blockquote {
  quotes: none;
}
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

a img {
  border: none;
}

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block;
}

body {
  line-height: 150%;
  -webkit-transition: all 0.2s ease;
  -moz-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
  transition: all 0.2s ease;
  font-family: "Noto Sans Japanese", "LiHei Pro", "微軟正黑體", serif;
  background: #099ea5 url(../images/main.jpg) no-repeat 0 0;
}

a {
  text-decoration: underline;
  color: #03322d;
}
a:hover {
  text-decoration: none;
}

header {
  text-align: center;
  height: 193px;
}

#branding {
  position: absolute;
  width: 15%;
  right: 50px;
  top: 30px;
  z-index: 20;
  -webkit-transition: all 0.2s ease;
  -moz-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
  transition: all 0.2s ease;
}
#branding h1 {
  display: block;
  text-indent: -9999px;
}
#branding img {
  width: 100%;
}
#branding:hover {
  transform: rotate(-10deg);
}
#branding:active {
  top: 32px;
  right: 49px;
}

footer {
  font-size: 13px;
  text-align: center;
  padding: 30px;
  color: #888888;
  background-color: whitesmoke;
}
footer a {
  margin-left: 5px;
}

nav.top-bar #navigation {
  background-color: #212120;
  width: 100%;
  padding: 10px 0;
  z-index: 100;
  position: absolute;
  bottom: 0;
  -webkit-transition: all ease;
  -webkit-transition-delay: 0.5s;
  -moz-transition: all ease 0.5s;
  -o-transition: all ease 0.5s;
  transition: all ease 0.5s;
}
nav.top-bar #navigation.movetop {
  bottom: auto;
  top: 0;
  position: fixed;
}
nav.top-bar ul {
  left: 50%;
}
nav.top-bar li {
  display: inline-block;
}
nav.top-bar li a {
  color: white;
  padding: 5px 30px;
  text-transform: uppercase;
  font-size: 18px;
  display: block;
  text-decoration: none;
}
nav.top-bar li a.active {
  color: #d4e606;
}

.content {
  width: 960px;
  margin: 0 auto;
  height: 1000px;
  overflow: hidden;
  position: relative;
  padding-top: 280px;
}

#home.content {
  height: 700px;
}

#content h2 {
  color: #69c4c8;
  font-size: 4em;
  text-transform: uppercase;
  text-align: center;
  padding: 80px;
  text-align: center;
  z-index: 10;
}

#home.content {
  padding-top: 220px;
}
#home .wrap {
  float: right;
  width: 600px;
}
#home .wrap p {
  color: #011314;
  font-size: 1.1em;
  line-height: 170%;
}
#home .wrap h3 {
  font-size: 1.7em;
  color: #05595c;
  line-height: 3em;
}

.fullwidth.content {
  width: 100%;
  padding-top: 0;
}
.fullwidth.content .wrap {
  width: 960px;
  margin: 0 auto;
  padding-top: 30px;
}

#faq.fullwidth.content .wrap {
  padding-top: 50px;
}

#buy {
  background-color: whitesmoke;
  height: 700px;
}
#buy .banner {
  width: 100%;
  min-height: 250px;
  background: white url(../images/header-buy.jpg) no-repeat center 0;
  background-size: auto 100%;
}
#buy .item-list .item {
  width: 48%;
  float: left;
  position: relative;
  margin: 1% 1%;
}
#buy .js-restore-list {
  cursor: pointer;
  padding: 10px;
  display: block;
  float: left;
  color: #999999;
  margin-left: 0.5em;
  font-size: 0.9em;
}
#buy .js-restore-list:hover {
  color: #666666;
}
#buy .sum {
  margin-right: 1em;
  font-size: 1.2em;
  padding-top: 10px;
}
#buy .noti {
  font-size: 0.9em;
  background-color: rgba(0, 0, 0, 0.05);
  color: #666666;
  margin: 5px;
  padding: 10px;
  text-align: center;
}

.order {
  background-color: white;
  border-radius: 3px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.25);
  padding: 20px;
  margin: 1em 0.5em;
  float: left;
  width: 100%;
  position: relative;
}
.order ul {
  width: 50%;
  float: left;
  padding: 10px;
}
.order ul li {
  margin-bottom: 15px;
  font-size: 1em;
}
.order ul small {
  font-size: 0.9em;
  color: #999999;
  margin-left: 10px;
}
.order textarea {
  min-height: 7.5em;
  height: 7.5em;
}
.order .button {
  position: absolute;
  right: 30px;
  bottom: 30px;
}

.subtitle {
  margin-top: 30px;
}

.subtitle {
  text-align: center;
  font-size: 1.5em;
  padding: 10px;
  color: #999999;
}

.ui.form textarea,
.ui.form input[type="text"],
.ui.form input[type="email"],
.ui.form input[type="date"],
.ui.form input[type="password"],
.ui.form input[type="number"],
.ui.form input[type="url"],
.ui.form input[type="tel"],
.ui.form .ui.input {
  width: 100%;
}

.ui.form textarea,
.ui.form input[type="text"],
.ui.form input[type="email"],
.ui.form input[type="date"],
.ui.form input[type="password"],
.ui.form input[type="number"],
.ui.form input[type="url"],
.ui.form input[type="tel"] {
  margin: 0em;
  padding: 0.65em 1em;
  font-size: 1em;
  background-color: white;
  border: 1px solid rgba(0, 0, 0, 0.15);
  outline: none;
  color: rgba(0, 0, 0, 0.6);
  border-radius: 0.3125em;
  -webkit-transition: background-color 0.3s ease-out, -webkit-box-shadow 0.2s ease, border-color 0.2s ease;
  -moz-transition: background-color 0.3s ease-out, box-shadow 0.2s ease, border-color 0.2s ease;
  transition: background-color 0.3s ease-out, box-shadow 0.2s ease, border-color 0.2s ease;
  -webkit-box-shadow: 0em 0em 0em 0em rgba(0, 0, 0, 0.3) inset;
  box-shadow: 0em 0em 0em 0em rgba(0, 0, 0, 0.3) inset;
  -webkit-appearance: none;
  -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
}

.ui.textarea,
.ui.form textarea {
  line-height: 1.33;
  min-height: 8em;
  height: 12em;
  max-height: 24em;
  resize: vertical;
}

.ui.form textarea,
.ui.form input[type="checkbox"] {
  vertical-align: top;
}

.ui.form input[type="text"]:focus,
.ui.form input[type="email"]:focus,
.ui.form input[type="date"]:focus,
.ui.form input[type="password"]:focus,
.ui.form input[type="number"]:focus,
.ui.form input[type="url"]:focus,
.ui.form input[type="tel"]:focus,
.ui.form textarea:focus {
  color: rgba(0, 0, 0, 0.85);
  border-color: rgba(0, 0, 0, 0.2);
  border-bottom-left-radius: 0;
  border-top-left-radius: 0;
  -webkit-appearance: none;
  -webkit-box-shadow: 0.3em 0em 0em 0em rgba(0, 0, 0, 0.2) inset;
  box-shadow: 0.3em 0em 0em 0em rgba(0, 0, 0, 0.2) inset;
}

.ui.form ::-webkit-input-placeholder {
  color: #aaaaaa;
}

.ui.form ::-moz-placeholder {
  color: #aaaaaa;
}

.ui.form :focus::-webkit-input-placeholder {
  color: #999999;
}

.ui.form :focus::-moz-placeholder {
  color: #999999;
}

.ui.button {
  cursor: pointer;
  display: inline-block;
  vertical-align: middle;
  min-height: 1em;
  outline: none;
  border: none;
  margin: 0em;
  padding: 0.8em 1.5em;
  font-size: 1rem;
  text-transform: uppercase;
  line-height: 1;
  font-weight: bold;
  font-style: normal;
  text-align: center;
  text-decoration: none;
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0)), to(rgba(0, 0, 0, 0.05)));
  background-image: -webkit-linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.05));
  background-image: -moz-linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.05));
  background-image: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.05));
  border-radius: 0.25em;
  -webkit-box-shadow: 0px 0px 0px 1px rgba(0, 0, 0, 0.08) inset;
  box-shadow: 0px 0px 0px 1px rgba(0, 0, 0, 0.08) inset;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  -webkit-transition: opacity 0.25s ease, background-color 0.25s ease, color 0.25s ease, background 0.25s ease, -webkit-box-shadow 0.25s ease;
  -moz-transition: opacity 0.25s ease, background-color 0.25s ease, color 0.25s ease, background 0.25s ease, box-shadow 0.25s ease;
  transition: opacity 0.25s ease, background-color 0.25s ease, color 0.25s ease, background 0.25s ease, box-shadow 0.25s ease;
  background-color: #d95c5c;
  color: white;
}

.ui.button:hover {
  background-color: #e75859;
}

#faq {
  background: url(../images/header-faq.png) no-repeat center 0;
}
#faq ul li {
  padding: 1em 0;
  line-height: 170%;
  font-size: 0.9em;
  color: white;
}
#faq ul li a {
  color: white;
}
#faq ul li p {
  padding-top: 5px;
  color: white;
}

.remodal .order {
  text-align: left;
  margin: 0.5em 0;
  line-height: 170%;
}
.remodal .order ol {
  border-bottom: 1px solid #ececec;
  padding: 10px 0;
}
.remodal .order p {
  padding-top: 10px;
}
.remodal h2 {
  font-size: 1.2em;
  margin-bottom: 10px;
}
.remodal h3 {
  font-size: 1em;
  color: white;
  margin-top: 20px;
  background-color: black;
  display: inline-block;
  padding: 5px 15px;
  margin-left: -22px;
}
.remodal .spacer {
  padding-top: 20px;
  display: inline-block;
}

.button-wrapper {
  width: 100%;
  text-align: center;
}

@media (max-width: 1280px) {
  body {
    background-position: -30px -20px;
  }

  #home.content {
    font-size: 90%;
    height: 500px;
  }
}
@media (max-width: 1024px) {
  body {
    background-position: -10px -20px;
    background-size: 95% auto;
  }

  #home.content {
    font-size: 95%;
    height: 480px;
    padding-top: 150px;
  }

  .fullwidth.content .wrap {
    padding-top: 0px;
  }

  #branding {
    width: 20%;
  }
}
@media (max-width: 800px) {
  body {
    background-position: -20px 50px;
    background-size: 110% auto;
  }

  #home.content {
    font-size: 90%;
    line-height: 170%;
    height: 500px;
    padding-top: 250px;
  }
  #home.content .wrap {
    width: 80%;
    float: none;
    margin: 0 auto;
  }

  .content, .fullwidth.content .wrap {
    width: 100%;
  }

  #faq.fullwidth.content .wrap ul {
    margin: 0 20px;
  }

  nav.top-bar #navigation {
    bottom: auto;
    top: 0;
    position: fixed;
    width: 100%;
  }

  #branding {
    position: absolute;
    top: 180px;
    right: 60px;
    padding-top: 50px;
    width: 30%;
  }

  #buy.fullwidth.content .order {
    border-radius: 0;
    margin: 0;
  }
  #buy.fullwidth.content ul {
    width: 100%;
  }
  #buy.fullwidth.content .item__price, #buy.fullwidth.content .item__body {
    padding: 0.5em;
  }
}
@media (max-width: 480px) {
  body {
    background-position: -30px 50px;
    background-size: 150% auto;
  }

  #branding {
    opacity: 0;
  }

  #home.content {
    font-size: 90%;
    padding-top: 130px;
  }
  #home.content h3 {
    font-size: 1.2em;
  }

  #buy .banner {
    width: 100%;
    min-height: 120px;
  }

  #buy.fullwidth.content {
    height: 1200px;
  }
}
